@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--purple);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
  padding-bottom: 100px;
  overflow: hidden;
}

#root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 102vh;
}

* {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}


footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 15px 15px;
  backdrop-filter: brightness(90%) blur(20px);
  -webkit-backdrop-filter: brightness(90%) blur(20px);
  -moz-backdrop-filter: brightness(90%) blur(20px);
  mask-image: repeating-radial-gradient(
    circle at 50% 50% center,
    var(--background),
    var(--background) 20px,
    rgba(255, 255, 255, 0.3) 20.5px,
    rgba(255, 255, 255, 0.3) 21px
  );
  -webkit-mask-image: repeating-radial-gradient(
    circle at 50% 50%,
    var(--background),
    var(--background) 20px,
    rgba(255, 255, 255, 0.3) 20.5px,
    rgba(255, 255, 255, 0.3) 21px
  );
}

footer {
  position:relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

footer svg {
  margin-right: 20px;
  position: relative;
}

footer a {
  text-decoration: none;
  color: var(--accent);
  position: relative;
}

code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg {
  stroke: var(--accent);
  opacity: 0.3;
}

.box {
  position: absolute;
  width: 200px;
  height: 200px;
  background: var(--accent);
  opacity: 0.5;
  top: 40%;
}

